/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700");
/* Normalize CSS */
/* Globals, Headers, and Footer */
html, body {
  font-size: 16px; }

body {
  border-top: #9F2A24 solid 10px;
  border-bottom: #9F2A24 solid 10px; }

/**		Colors	*/
.white {
  color: #FFFFFF; }

.red {
  color: #9F2A24; }

.light-blue {
  color: #6F7EF4; }

.blue {
  color: #20285C; }

.onyx {
  color: #5D5D5D; }

.gray {
  color: #A8AEAF; }

.granite-gray {
  color: #5D5D5D; }

.isabelline {
  color: #F2F2F2; }

.bg-red {
  background-color: #9F2A24; }

.bg-blue {
  background-color: #20285C; }

.bg-onyx {
  background-color: #5D5D5D; }

.bg-gray {
  background-color: #A8AEAF; }

.bg-isabelline {
  background-color: #F2F2F2; }

/**		Fonts	*/
.ff-caslon {
  font-family: "Perpetua", sans-serif; }

.ff-avenir {
  font-family: "Montserrat", sans-serif; }

/**		Headings	 */
.gwps-heading {
  font-family: "Montserrat", sans-serif; }
  .gwps-heading.page-heading {
    font-family: "Perpetua", sans-serif;
    font-size: 5em;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: -0.03em; }
  .gwps-heading.h1 {
    font-size: 7.5em;
    line-height: 1;
    letter-spacing: 0.05em;
    font-weight: 500; }
  .gwps-heading.h2 {
    font-size: 3.833em;
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: 500; }
  .gwps-heading.h3 {
    font-size: 2.5em;
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: 500; }
  .gwps-heading.h4 {
    font-size: 2em;
    line-height: 1.1;
    letter-spacing: 0.02em;
    font-weight: 700; }
  .gwps-heading.h5 {
    font-size: 1.5em;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700; }
  .gwps-heading.h6 {
    font-size: 1.333em;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700; }
  .gwps-heading.normal {
    font-size: 1.15em;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700; }

/**		Body		*/
.gwps-body-text {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em; }
  .gwps-body-text.xl {
    font-size: 1.12em; }
  .gwps-body-text.l {
    font-size: 1em; }
  .gwps-body-text.m {
    font-size: 0.88em; }
  .gwps-body-text.sm {
    font-size: 0.75em; }
  .gwps-body-text.xs {
    font-size: 0.69em; }

.gwps-button {
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 2.5rem;
  font-size: 0.88em;
  letter-spacing: 0.03em;
  line-height: 1.5;
  border: 1px solid;
  border-radius: 0;
  color: #9F2A24; }
  .gwps-button.border-rounded {
    border-radius: 20px; }
  .gwps-button.large {
    padding: 0.8rem 4.5rem;
    font-size: 1.2rem; }
  .gwps-button.small {
    padding: 0.5rem 2rem;
    font-size: 0.5rem; }
  .gwps-button:active {
    opacity: 1.0; }
  .gwps-button:hover {
    opacity: 1.0; }

.gwps-link {
  color: #9F2A24;
  opacity: 1.0; }
  .gwps-link.active {
    text-decoration-color: #9F2A24; }
  .gwps-link:hover {
    text-decoration: none;
    opacity: 0.5; }

main {
  background-color: #FFFFFF; }

hr.short {
  display: none; }

@media screen and (max-width: 576px) {
  hr.short {
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)); } }

header ul.cta li {
  display: inline;
  padding: 0 5px; }
  header ul.cta li.active {
    color: #9F2A24; }
  header ul.cta li a {
    color: #A8AEAF;
    text-decoration: none; }

footer {
  padding: 80px 0;
  color: #FFFFFF;
  background-color: #20285C; }
  footer .copyright {
    margin-top: 150px; }
  footer ul.links li {
    margin-bottom: 3px; }
    footer ul.links li a {
      color: #FFFFFF;
      text-decoration: none; }
    footer ul.links li a:hover {
      color: #9F2A24; }
  footer form#got-questions textarea {
    background-color: rgba(52, 60, 112, 0.75);
    resize: none;
    border: none;
    color: #9F2A24; }
  footer form#got-questions textarea:focus {
    box-shadow: none; }
  footer form#got-questions button {
    background-color: #343c70;
    color: #FFFFFF;
    border: none; }
  @media screen and (max-width: 768px) {
    footer .copyright {
      margin-top: 15px; } }

/* Pages */
#home section.sec-one {
  min-height: 80vh;
  background-image: url("https://via.placeholder.com/1920x1080");
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 20px solid #20285C; }
  #home section.sec-one .banner-text-wrapper {
    background-color: rgba(159, 42, 36, 0.8);
    color: #FFFFFF;
    left: 0;
    bottom: 0;
    position: absolute;
    font-size: 3em;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 500;
    width: 80%; }
  #home section.sec-one .button-options a.option {
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    margin: 15px 0;
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 700;
    width: 80%; }
    #home section.sec-one .button-options a.option > div:last-child {
      padding-left: 10px;
      border-left: 2px solid #FFFFFF; }
    #home section.sec-one .button-options a.option img {
      height: 70px; }
  @media screen and (max-width: 1200px) {
    #home section.sec-one .button-options a.option {
      font-size: 1em; } }
  @media screen and (max-width: 992px) {
    #home section.sec-one .button-options a.option {
      font-size: 1em;
      margin: 15px auto; } }
  @media screen and (max-width: 992px) {
    #home section.sec-one .banner-text-wrapper {
      background-color: #FFFFFF;
      color: #20285C;
      position: relative;
      font-size: 2.5em;
      width: 100%;
      text-align: center;
      padding: 50px 20px !important; } }

@media screen and (max-width: 992px) {
  #home section.sec-one {
    border-bottom: none; } }

#home section.sec-two .text-wrapper {
  width: 75%; }

@media screen and (max-width: 992px) {
  #home section.sec-two .text-wrapper {
    width: 100%;
    text-align: center;
    padding: 20px 0; } }

#home section.sec-three {
  background-color: #FFFFFF;
  background-repeat: no-repeat; }
  #home section.sec-three .medicines img {
    max-width: 150px; }
  @media screen and (max-width: 768px) {
    #home section.sec-three .medicines img {
      max-width: 250px; } }

#home section.sec-four {
  background-color: #FFFFFF;
  background-position: center center; }
  #home section.sec-four .top-part {
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; }
  #home section.sec-four .image-text {
    padding: 100px 0 0 100px;
    font-size: 3em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  #home section.sec-four .middle-part {
    position: relative;
    top: -150px;
    background-color: #FFFFFF;
    max-width: 50%;
    margin: auto;
    padding: 50px; }
  @media screen and (max-width: 992px) {
    #home section.sec-four .image-text {
      padding: 0 15px;
      position: relative;
      text-align: center;
      color: #9F2A24;
      margin-bottom: 25px;
      font-size: 2.5em; }
    #home section.sec-four .middle-part {
      top: -50px;
      max-width: 100%; } }

#home section.sec-five {
  background-color: #9F2A24;
  padding: 70px 0; }
  #home section.sec-five .progress-stats img {
    max-width: 150px; }
  @media screen and (max-width: 992px) {
    #home section.sec-five .progress-stats .stat {
      margin-bottom: 30px; }
    #home section.sec-five .progress-stats img {
      max-width: 250px; } }

#home section.sec-six {
  background-color: #FFFFFF; }
  #home section.sec-six a.link {
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid #9F2A24;
    font-weight: 700; }
  #home section.sec-six .column {
    padding: 100px 75px; }
  @media screen and (max-width: 992px) {
    #home section.sec-six .column {
      padding: 50px 25px; } }
