/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700");
/* Normalize CSS */
/* Globals, Headers, and Footer */
html, body {
  font-size: 16px; }

body {
  border-top: #9F2A24 solid 10px;
  border-bottom: #9F2A24 solid 10px; }

main {
  background-color: #FFFFFF; }

/**		Colors	*/
.white {
  color: #FFFFFF; }

.red {
  color: #9F2A24; }

.light-blue {
  color: #6F7EF4; }

.blue {
  color: #20285C; }

.onyx {
  color: #5D5D5D; }

.gray {
  color: #A8AEAF; }

.granite-gray {
  color: #5D5D5D; }

.isabelline {
  color: #F2F2F2; }

.bg-red {
  background-color: #9F2A24; }

.bg-blue {
  background-color: #20285C; }

.bg-onyx {
  background-color: #5D5D5D; }

.bg-gray {
  background-color: #A8AEAF; }

.bg-isabelline {
  background-color: #F2F2F2; }

/**		Fonts	*/
.ff-caslon {
  font-family: "Perpetua", sans-serif; }

.ff-avenir {
  font-family: "Montserrat", sans-serif; }

@media screen and (max-width: 992px) {
  main {
    margin-top: 60px; } }

header {
  padding: 10px 0; }
  header button.navbar-toggler span > i.fa {
    color: #9F2A24;
    font-size: 2em; }
  header a.navbar-brand > img {
    height: 150px;
    width: 150px; }
  header ul.cta {
    display: flex;
    justify-content: end;
    align-items: center; }
    header ul.cta li {
      display: inline;
      padding: 0 10px; }
      header ul.cta li.active a {
        color: #9F2A24; }
      header ul.cta li a {
        color: #A8AEAF;
        text-decoration: none; }
      header ul.cta li a:hover {
        color: rgba(159, 42, 36, 0.5); }
    header ul.cta form {
      border-bottom: 1px solid #A8AEAF; }
      header ul.cta form input {
        width: 90%;
        border: 0;
        background-color: #FFFFFF;
        border-radius: 0; }
      header ul.cta form input:focus {
        box-shadow: none; }
  header ul.page-links {
    align-items: center; }
    header ul.page-links li.nav-item {
      color: #9F2A24; }
      header ul.page-links li.nav-item a.nav-link {
        padding: 0;
        color: #9F2A24;
        margin: 0 10px;
        font-weight: 500; }
      header ul.page-links li.nav-item a.nav-link:hover {
        color: rgba(159, 42, 36, 0.5) !important; }
      header ul.page-links li.nav-item a.dropdown-toggle::after {
        content: none; }
      header ul.page-links li.nav-item .dropdown-menu {
        background-color: rgba(159, 42, 36, 0.95);
        margin: 0;
        padding: 10px 0;
        border: 0;
        border-radius: 0; }
        header ul.page-links li.nav-item .dropdown-menu a.dropdown-item {
          color: #FFFFFF; }
        header ul.page-links li.nav-item .dropdown-menu a.dropdown-item:hover {
          background-color: rgba(199, 82, 76, 0.5); }
      header ul.page-links li.nav-item.dropdown.show a.dropdown-toggle {
        color: rgba(159, 42, 36, 0.5); }
      header ul.page-links li.nav-item a.gwps-button {
        background-color: #9F2A24;
        color: #FFFFFF;
        padding: 10px 20px; }
    header ul.page-links li.nav-item.active a.nav-link {
      color: #9F2A24;
      border-bottom: 2px solid #9F2A24; }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    header .main-navigation {
      overflow-y: scroll;
      height: 50vh; } }
  @media screen and (max-width: 992px) {
    header a.navbar-brand > img {
      height: 50px;
      width: 50px; }
    header .main-navigation {
      display: flex;
      flex-direction: column; }
    header ul.cta {
      order: 2;
      flex-direction: column;
      align-items: start; }
      header ul.cta li {
        margin-bottom: 10px; }
      header ul.cta form span > i.fa {
        font-size: 1em; }
    header ul.page-links {
      order: 1;
      align-items: start; }
      header ul.page-links li.nav-item {
        margin-bottom: 5px;
        display: block;
        width: 100%; }
      header ul.page-links li.nav-item.active a.nav-link {
        border-bottom: none; }
      header ul.page-links .dropdown-menu a.dropdown-item {
        font-size: 0.9em; } }

@media screen and (max-width: 992px) {
  header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #FFFFFF;
    border-top: #9F2A24 solid 10px;
    padding: 0; }
    header .navbar {
      padding: 0 10px;
      margin: 0; } }

footer {
  padding: 80px 0;
  color: #FFFFFF;
  background-color: #20285C; }
  footer .copyright {
    margin-top: 150px; }
  footer ul.links li {
    margin-bottom: 3px; }
    footer ul.links li a {
      color: #FFFFFF;
      text-decoration: none; }
    footer ul.links li a:hover {
      color: #9F2A24; }
  footer form#got-questions textarea {
    background-color: rgba(52, 60, 112, 0.75);
    resize: none;
    border: none;
    color: #9F2A24;
    padding: 3px;
    border-radius: 0; }
  footer form#got-questions textarea:focus {
    box-shadow: none; }
  footer form#got-questions button {
    background-color: #343c70;
    color: #FFFFFF;
    border: none; }
  @media screen and (max-width: 768px) {
    footer .copyright {
      margin-top: 15px; } }

.button-options a.option {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  margin: 15px 0;
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 700;
  width: 80%; }
  .button-options a.option > div:last-child {
    padding-left: 10px;
    border-left: 2px solid #FFFFFF; }
  .button-options a.option img {
    height: 70px; }

@media screen and (max-width: 1200px) {
  .button-options a.option {
    font-size: 1em;
    margin: 15px auto;
    padding: 5px 10px !important;
    width: 100%; }
    .button-options a.option img {
      height: 40px; } }

@media screen and (max-width: 768px) {
  .button-options a.option {
    font-size: 0.9em; }
    .button-options a.option img {
      margin-right: 0 !important; } }

@media screen and (max-width: 992px) {
  .button-options {
    padding: 50px 0; } }

/**		Headings	 */
.gwps-heading {
  font-family: "Montserrat", sans-serif; }
  .gwps-heading.page-heading {
    font-family: "Perpetua", sans-serif;
    font-size: 4em;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: -0.03em; }
  .gwps-heading.h1 {
    font-size: 7.5em;
    line-height: 1;
    letter-spacing: 0.05em;
    font-weight: 500; }
  .gwps-heading.h2 {
    font-size: 3.833em;
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: 500; }
  .gwps-heading.h3 {
    font-size: 2.5em;
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: 500; }
  .gwps-heading.h4 {
    font-size: 2em;
    line-height: 1.1;
    letter-spacing: 0.02em;
    font-weight: 700; }
  .gwps-heading.h5 {
    font-size: 1.5em;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700; }
  .gwps-heading.h6 {
    font-size: 1.333em;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700; }
  .gwps-heading.normal {
    font-size: 1.15em;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700; }
  @media screen and (max-width: 992px) {
    .gwps-heading.page-heading {
      font-size: 2.5em; }
    .gwps-heading.h1 {
      font-size: 5em; }
    .gwps-heading.h2 {
      font-size: 3em; }
    .gwps-heading.h3 {
      font-size: 2em; }
    .gwps-heading.h4 {
      font-size: 1.7em; }
    .gwps-heading.h5 {
      font-size: 1.3em; }
    .gwps-heading.h6 {
      font-size: 1em; }
    .gwps-heading.normal {
      font-size: 0.8em; } }

/**		Body		*/
.gwps-body-text {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em; }
  .gwps-body-text.xl {
    font-size: 1.12em; }
  .gwps-body-text.l {
    font-size: 1em; }
  .gwps-body-text.m {
    font-size: 0.88em; }
  .gwps-body-text.sm {
    font-size: 0.75em; }
  .gwps-body-text.xs {
    font-size: 0.69em; }

.gwps-link {
  color: #9F2A24;
  opacity: 1.0; }
  .gwps-link.active {
    text-decoration-color: #9F2A24; }
  .gwps-link:hover {
    text-decoration: none;
    opacity: 0.5; }

a.gwps-link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px solid #9F2A24;
  font-weight: 700;
  letter-spacing: 1.5px; }

hr.short {
  display: none; }

@media screen and (max-width: 576px) {
  hr.short {
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)); } }

.gwps-button {
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 2.5rem;
  font-size: 1em;
  letter-spacing: 0.03em;
  line-height: 1.5;
  border: 3px solid;
  border-radius: 0;
  color: #9F2A24;
  font-weight: 500; }
  .gwps-button.border-rounded {
    border-radius: 100px; }
  .gwps-button.large {
    font-size: 1.2rem; }
  .gwps-button.medium {
    font-size: 0.88rem; }
  .gwps-button.small {
    padding: 0.5rem 2rem;
    font-size: 0.5rem; }
  .gwps-button.border-none {
    border: none; }
  .gwps-button:active {
    opacity: 1.0; }
  .gwps-button:hover {
    opacity: 0.5; }

.gwps-banner {
  position: relative;
  border-bottom: 20px solid #20285C; }
  .gwps-banner .banner-text {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(159, 42, 36, 0.8);
    color: #FFFFFF;
    padding: 30px 60px;
    text-align: center; }
  @media screen and (max-width: 576px) {
    .gwps-banner .banner-text {
      display: none; } }

/* Pages */
main#home section.sec-one {
  background-image: url("https://via.placeholder.com/1920x1080");
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 20px solid #20285C; }
  main#home section.sec-one .banner-text-wrapper {
    background-color: rgba(159, 42, 36, 0.8);
    color: #FFFFFF;
    left: 0;
    bottom: 0;
    position: absolute;
    font-size: 3em;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-weight: 500;
    width: 80%; }
  @media screen and (max-width: 1200px) {
    main#home section.sec-one .banner-text-wrapper {
      font-size: 2.2em; } }
  @media screen and (max-width: 992px) {
    main#home section.sec-one .banner-text-wrapper {
      background-color: #FFFFFF;
      color: #20285C;
      position: relative;
      font-size: 2.5em;
      width: 100%;
      text-align: center;
      padding: 50px 20px !important; } }

@media screen and (max-width: 992px) {
  main#home section.sec-one {
    border-bottom: none;
    min-height: 0; }
    main#home section.sec-one .column-2 {
      border-bottom: 15px solid #20285C; } }

main#home section.sec-three {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center; }
  main#home section.sec-three .medicines img {
    max-width: 150px; }
  @media screen and (max-width: 768px) {
    main#home section.sec-three .medicines img {
      max-width: 250px; } }

main#home section.sec-four .top-part {
  position: relative; }

main#home section.sec-four .image-text {
  padding: 100px 0 0 100px;
  font-size: 3em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

@media screen and (max-width: 992px) {
  main#home section.sec-four .image-text {
    padding: 0 15px;
    position: relative;
    text-align: center;
    color: #9F2A24;
    margin-bottom: 25px;
    font-size: 2.5em; } }

main#home section.sec-four-two {
  background-color: #20285C;
  background-position: center center; }
  main#home section.sec-four-two .text-wrapper {
    position: relative;
    top: -150px;
    background-color: #FFFFFF;
    max-width: 70%;
    margin: auto;
    padding: 50px; }
  @media screen and (max-width: 992px) {
    main#home section.sec-four-two .text-wrapper {
      top: -50px;
      max-width: 90%;
      padding: 10px; } }

main#home section.sec-five {
  background-color: #9F2A24;
  padding: 70px 0; }
  main#home section.sec-five .progress-stats img {
    max-width: 150px; }
  @media screen and (max-width: 992px) {
    main#home section.sec-five .progress-stats .stat {
      margin-bottom: 30px; }
    main#home section.sec-five .progress-stats img {
      max-width: 250px; } }

main#home section.sec-six {
  background-color: #FFFFFF; }
  main#home section.sec-six .column {
    padding: 100px 75px; }
  @media screen and (max-width: 992px) {
    main#home section.sec-six .column {
      padding: 50px 25px; } }

main#about section.sec-one {
  background-image: url("https://via.placeholder.com/1920x1080");
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 20px solid #20285C;
  padding: 80px 0; }

main#about section.sec-two {
  display: flex;
  background-image: url("https://via.placeholder.com/1920x1080");
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 60vh; }
  main#about section.sec-two .video-wrapper a.play-button i {
    font-size: 5em;
    color: #FFFFFF; }

main#about section.sec-three {
  background-color: #20285C;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 100px;
  border-bottom: 20px solid #20285C; }
  main#about section.sec-three .text-wrapper {
    position: relative;
    top: -75px;
    background-color: #FFFFFF;
    max-width: 50%;
    margin: auto;
    padding: 50px; }
  @media screen and (max-width: 992px) {
    main#about section.sec-three .text-wrapper {
      top: -50px;
      max-width: 90%;
      padding: 10px; } }

@media screen and (max-width: 992px) {
  main#about section.sec-three {
    padding-bottom: 0;
    border-bottom: none; } }

main#about section.sec-four {
  padding: 50px 0; }

main#providers section.sec-one {
  background-image: url("https://via.placeholder.com/1920x1080");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 80px 0; }

@media screen and (max-width: 992px) {
  main#providers section.sec-one .text-wrapper {
    width: 100%;
    text-align: center;
    padding: 0 25px; } }

main#providers section.sec-two {
  padding: 150px 0; }
  main#providers section.sec-two .heading {
    border-bottom: 1px solid #FFFFFF;
    letter-spacing: 5px; }

@media screen and (max-width: 992px) {
  main#providers section.sec-two {
    padding: 50px 15px; }
    main#providers section.sec-two .heading {
      font-size: 1.5em; } }

main#services section.sec-two .list-text-wrapper .heading {
  font-size: 2em; }

main#services section.sec-three {
  padding: 150px 0; }
  main#services section.sec-three .heading {
    border-bottom: 1px solid #FFFFFF;
    letter-spacing: 5px; }

@media screen and (max-width: 992px) {
  main#services section.sec-three {
    padding: 50px 15px; }
    main#services section.sec-three .heading {
      font-size: 1.5em; } }

main#information section.sec-one {
  background-image: url("https://via.placeholder.com/1920x1080");
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 20px solid #20285C; }
  main#information section.sec-one .banner-text-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(159, 42, 36, 0.8);
    color: #FFFFFF;
    padding: 30px 60px;
    text-align: center; }
  @media screen and (max-width: 992px) {
    main#information section.sec-one .banner-text-wrapper {
      display: none; } }

main#information section.sec-three form input, main#information section.sec-three form textarea {
  border-radius: 0;
  border: 1px solid #5D5D5D;
  color: #5D5D5D; }

main#information section.sec-three form input {
  height: 50px; }

main#information section.sec-three form textarea {
  resize: none; }

main#information section.sec-three form input:focus, main#information section.sec-three form textarea:focus {
  box-shadow: none;
  border-color: #9F2A24; }

main#information section.sec-four .text-wrapper {
  width: 75%; }

@media screen and (max-width: 992px) {
  main#information section.sec-four .text-wrapper {
    width: 100%; } }

main#locations section.sec-one {
  background-image: url("https://via.placeholder.com/1920x1080");
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 20px solid #20285C;
  padding: 150px 0; }

@media screen and (max-width: 992px) {
  main#locations section.sec-one {
    padding: 50px 0; } }

@media screen and (max-width: 992px) {
  main#locations section.sec-two .gwps-body-text {
    font-size: 1em; } }

main#contact section.sec-one {
  border-bottom: 20px solid #20285C;
  padding: 150px 0; }

@media screen and (max-width: 992px) {
  main#contact section.sec-one {
    padding: 50px 0; } }

main#contact section.sec-two form input, main#contact section.sec-two form textarea {
  border-radius: 0;
  border: 1px solid #5D5D5D;
  color: #5D5D5D; }

main#contact section.sec-two form input {
  height: 50px; }

main#contact section.sec-two form textarea {
  resize: none; }

main#contact section.sec-two form input:focus, main#contact section.sec-two form textarea:focus {
  box-shadow: none;
  border-color: #9F2A24; }
