/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700");
/* Normalize CSS */
/* Globals, Headers, and Footer */
html, body {
  font-size: 16px; }

body {
  background-color: #20285C; }

/**		Fonts	*/
.ff-caslon {
  font-family: "Perpetua", sans-serif; }

.ff-avenir {
  font-family: "Montserrat", sans-serif; }

/**		Headings	 */
.gwps-heading {
  font-family: "Montserrat", sans-serif; }
  .gwps-heading.page-heading {
    font-family: "Perpetua", sans-serif;
    font-size: 5em;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: -0.03em; }
  .gwps-heading.h1 {
    font-size: 7.5em;
    line-height: 1;
    letter-spacing: 0.05em;
    font-weight: 500; }
  .gwps-heading.h2 {
    font-size: 3.833em;
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: 500; }
  .gwps-heading.h3 {
    font-size: 2.5em;
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: 500; }
  .gwps-heading.h4 {
    font-size: 2em;
    line-height: 1.1;
    letter-spacing: 0.02em;
    font-weight: 700; }
  .gwps-heading.h5 {
    font-size: 1.5em;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700; }
  .gwps-heading.h6 {
    font-size: 1.333em;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 700; }

/**		Body		*/
.gwps-body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em; }
  .gwps-body.xl {
    font-size: 1.12em; }
  .gwps-body.l {
    font-size: 1em; }
  .gwps-body.m {
    font-size: 0.88em; }
  .gwps-body.sm {
    font-size: 0.75em; }
  .gwps-body.xs {
    font-size: 0.69em; }

.gwps-button {
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 2.5rem;
  font-weight: 600;
  font-size: 0.88em;
  letter-spacing: 0.03em;
  line-height: 1.5;
  border: 1px solid;
  border-radius: 0;
  color: #9F2A24; }
  .gwps-button.large {
    padding: 0.8rem 4.5rem;
    font-size: 1.2rem; }
  .gwps-button.small {
    padding: 0.5rem 2rem;
    font-size: 0.5rem; }
  .gwps-button:active {
    opacity: 1.0; }
  .gwps-button:hover {
    opacity: 1.0; }

.gwps-link {
  color: #9F2A24;
  opacity: 1.0; }
  .gwps-link.active {
    text-decoration-color: #9F2A24; }
  .gwps-link:hover {
    text-decoration: none;
    opacity: 0.5; }

header nav.navbar {
  border-top: #9F2A24 solid 5px; }

header ul.cta li {
  display: inline;
  padding: 0 5px; }
  header ul.cta li.active {
    color: #9F2A24; }
  header ul.cta li a {
    color: #A8AEAF;
    text-decoration: none; }

footer {
  background-color: #20285C; }

/* Pages */
.home section div.text-wrapper {
  max-width: 50%;
  margin: auto; }

@media screen and (max-width: 992px) {
  .home section div.text-wrapper {
    max-width: 75%; } }

@media screen and (max-width: 576px) {
  .home section div.text-wrapper {
    max-width: 100%; } }
