main#about {
    section.sec-one {
        background-image: url("https://via.placeholder.com/1920x1080");
        background-repeat: no-repeat;
        background-position: center center;
        border-bottom: 20px solid $blue;
        padding: 80px 0;
    }

    section.sec-two {
        display: flex;
        background-image: url("https://via.placeholder.com/1920x1080");
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 60vh;

        .video-wrapper {
            a.play-button {
                i {
                    font-size: 5em;
                    color: $white;
                }
            }
        }
    }

    section.sec-three {
        // background-image: url("https://via.placeholder.com/1920x1080");
        background-color: $blue;
        background-repeat: no-repeat;
        background-position: center center;
        padding-bottom: 100px;
        border-bottom: 20px solid $blue;
        .text-wrapper {
            position: relative;
            top: -75px;
            background-color: $white;
            max-width: 50%;
            margin: auto;
            padding: 50px;
        }
        @media screen and (max-width: $break-md) {
            .text-wrapper {
                top: -50px;
                max-width: 90%;
                padding: 10px;
            }
        }
    }
    @media screen and (max-width: $break-md) {
        section.sec-three {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    section.sec-four {
        padding: 50px 0;

    }

}