html, body {
	font-size: 16px;
}

/**		Fonts	*/
.ff-caslon {
	font-family: 'Perpetua', sans-serif;
}
.ff-avenir {
	font-family: 'Montserrat', sans-serif;
}

/**		Headings	 */
.gwps-h1 {
	font-size: 7.5em;
	font-family: 'Perpetua', sans-serif;
	line-height: 1;
	letter-spacing: 0.05em;
	font-weight: 500;
}
.gwps-h2 {
	font-size: 3.833em;
	font-family: 'Perpetua', sans-serif;
	line-height: 1;
	letter-spacing: 0.03em;
	font-weight: 500;
}
.gwps-h3 {
	font-size: 2.5em;
	font-family: 'Perpetua', sans-serif;
	line-height: 1;
	letter-spacing: 0.03em;
	font-weight: 500;
}
.gwps-h4 {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.1;
	letter-spacing: 0.02em;
	font-weight: 700;
}
.gwps-h5 {
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2;
	letter-spacing: 0.03em;
	font-weight: 700;
}
.gwps-h6 {
	font-size: 1.333em;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2;
	letter-spacing: 0.03em;
	font-weight: 700;
}

/**		Page Header		*/
.gwps-page-header {
	font-family: 'Perpetua', sans-serif;
	font-size: 5em;
	font-weight: 500;
	line-height: 0.9;
	letter-spacing: -0.03em;
}

/**		Navigation		*/
.gwps-main-nav {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
	line-height: 0.9;
	letter-spacing: 0.03em;
}
.gwps-main-nav-dropdown {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.083em;
	line-height: 0.9;
	letter-spacing: 0.03em;
}

/**		Line-Height		*/
.lh-1e {
	line-height: 1em !important;
}
.lh-1e1 {
	line-height: 1.1em !important;
}
.lh-1e2 {
	line-height: 1.2em !important;
}
.lh-1e3 {
	line-height: 1.3em !important;
}
.lh-1e4 {
	line-height: 1.4em !important;
}
.lh-1e5 {
	line-height: 1.5em !important;
}
.lh-1e6 {
	line-height: 1.6em !important;
}
.lh-1e7 {
	line-height: 1.7em !important;
}
.lh-1e8 {
	line-height: 1.8em !important;
}
.lh-2e {
	line-height: 2em !important;
}
.lh-2e1 {
	line-height: 2.1em !important;
}
.lh-2e5 {
	line-height: 2.5em !important;
}


main {
	// margin-top: 90px;
	// transition: margin-top 0.3s ease-in-out;
}

@media screen and (max-width: $break-md) {

}

@media screen and (max-width: $break-xs) {

}