header {
	ul.cta {
		li {
			display: inline;
			padding: 0 5px;
			&.active {
				color: $red;
			}
			a {
				color: $light-gray;
				text-decoration: none;
			}
		}
		@media screen and (max-width: $break-md) {
			// li {
			// 	display: block;
			// }
		}
	}
}

@media screen and (max-width: $break-md) {

}

@media screen and (max-width: $break-xs) {

}