.home {
    section {
        div.text-wrapper {
            max-width: 50%;
            margin: auto;
        }
        @media screen and (max-width: $break-md) {
            div.text-wrapper {
                max-width: 75%;
            }
        }
        @media screen and (max-width: $break-xs) {
            div.text-wrapper {
                max-width: 100%;
            }
        }
    }
}