main#home {
    section.sec-one {
        // min-height: 80vh;
        background-image: url("https://via.placeholder.com/1920x1080");
        background-repeat: no-repeat;
        background-position: center center;
        border-bottom: 20px solid $blue;
        .banner-text-wrapper {
            background-color: rgba(159, 42, 36, 0.8);
            color: $white;
            left: 0;
            bottom: 0;
            position: absolute;
            font-size: 3em;
            line-height: 1.5;
            letter-spacing: 0.05em;
            font-weight: 500;
            width: 80%;
        }
        @media screen and (max-width: $break-lg) {
            .banner-text-wrapper {
                font-size: 2.2em;
            }
        }
        @media screen and (max-width: $break-md) {
            .banner-text-wrapper {
                background-color: $white;
                color: $blue;
                position: relative;
                font-size: 2.5em;
                width: 100%;
                text-align: center;
                padding: 50px 20px !important;
            }
        }
    }
    @media screen and (max-width: $break-md) {
        section.sec-one {
            border-bottom: none;
            min-height: 0;
            .column-2 {
                border-bottom: 15px solid $blue;   
            }
        }
    }

    section.sec-two {

    }

    section.sec-three {
        background-color: $white;
        // background-image: url("https://via.placeholder.com/1920x1080");
        background-repeat: no-repeat;
        background-position: center center;
        .medicines {
            img {
                max-width: 150px;
            }
            @media screen and (max-width: $break-sm) {
                img {
                    max-width: 250px;
                }
            }
        }
    }

    section.sec-four {
        .top-part {
            position: relative;
        }
        .image-text {
            padding: 100px 0 0 100px;
            font-size: 3em;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        @media screen and (max-width: $break-md) {
            .image-text {
                padding: 0 15px;
                position: relative;
                text-align: center;
                color: $red;
                margin-bottom: 25px;
                font-size: 2.5em;
            }
        }
    }

    section.sec-four-two {
        // background-image: url("https://via.placeholder.com/1920x1080");
        background-color: $blue;
        background-position: center center;
        .text-wrapper {
            position: relative;
            top: -150px;
            background-color: $white;
            max-width: 70%;
            margin: auto;
            padding: 50px;
        }
        @media screen and (max-width: $break-md) {
            .text-wrapper {
                top: -50px;
                max-width: 90%;
                padding: 10px;
            }
        }
    }

    section.sec-five {
        background-color: $red;
        padding: 70px 0;
        .progress-stats {
            img {
                max-width: 150px;
            }
            @media screen and (max-width: $break-md) {
                .stat {
                    margin-bottom: 30px;
                }
                img {
                    max-width: 250px;
                }
            }
        }
    }

    section.sec-six {
        background-color: $white;
        .column {
            padding: 100px 75px;
        }
        @media screen and (max-width: $break-md) {
            .column {
                padding: 50px 25px;
            }
        }
    }

    @media screen and (max-width: $break-md) {

    }
    @media screen and (max-width: $break-xs) {

    }
}