main#locations {

    section.sec-one {
        background-image: url("https://via.placeholder.com/1920x1080");
        background-repeat: no-repeat;
        background-position: center center;
        border-bottom: 20px solid $blue;
        padding: 150px 0;
    }
    @media screen and (max-width: $break-md) {
        section.sec-one {
            padding: 50px 0;
        }
    }

    section.sec-two {
        @media screen and (max-width: $break-md) {
            .gwps-body-text {
                font-size: 1em;
            }
        }
    }

}