// $font_caslon: 'Perpetua';
// $font_avenir: 'Montserrat';


$blue: #032956;
$gold: #ca9c36;

//breakpoints
$break-xxs: 320px;
$break-xs: 576px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;