$font_caslon: 'Perpetua';
$font_avenir: 'Montserrat';

//base colors
$isabelline: #F2F2F2;
$light-gray: #A8AEAF;
$granite-gray: #A8AEAF;
$onyx: #5D5D5D;
$red: #9F2A24;
$blue: #20285C;
$white: #FFFFFF;
$black: #000000;

//breakpoints
$break-xxs: 320px;
$break-xs: 576px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;
